.KeymapSettingModal {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  width: 50%;
  height: 50%;
  background: rgb(0 0 0 / 50%);
  color: white;
  z-index: 9999;
}

.show {
  visibility: visible;
}
