.WhichKey {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: rgb(255 255 255 / 100%);
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  border: 1px solid rgb(255 255 255 / 100%);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em;
}

.WhichKey span {
  display: inline-block;
  /* border: 1px solid rgb(255 255 255 / 100%); */
  /* border-radius: 0.2em; */
  min-width: 1.5em;
  padding: 0.3em;
}

.WhichKey p {
  border: 1px solid rgb(255 255 255 / 100%);
  padding: 0 0.2em;
}

.WhichKey span:hover {
  background: rgb(255 255 255 / 100%);
  color: rgb(0 0 0 / 100%);
}
