html,
body,
#root {
  overflow: hidden;
  height: 100%;
  font-size: 21px;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.35em;
}
p {
  font-size: 1em;
}

@font-face {
  font-family: knotFont;
  src: url("fonts/SunBatang-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: knotFont;
  src: url("fonts/SunBatang-Light.otf");
}

.ProseMirror {
  font-family: knotFont;
  overflow: auto;
  height: 100%;
  width: 100%;
  color: rgb(235 220 200);
  background: rgb(30 30 40 / 100%);
  /* caret-color: transparent; */
}

.ProseMirror::-webkit-scrollbar {
  width: 2px;
  /* background: transparent; */
}

.ProseMirror::before,
.ProseMirror::after {
  content: "";
  display: block;
  height: 50%;
}

.ProseMirror::before {
  background: linear-gradient(rgb(30 40 50 / 70%), 20%, transparent);
}

.ProseMirror::after {
  background: linear-gradient(transparent, 80%, rgb(30 40 50 / 70%));
}

.ProseMirror-focused {
  outline: 0 !important;
  border: 0 !important;
}

.ProseMirror :is(h1, h2, h3, h4, h5, h6, p) {
  box-shadow: inset 0 0 0 0.3px rgb(100 100 180 / 50%);
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5em;
  text-indent: 1em;
  margin: 0.3rem;
  padding: 0.2em;
}

.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror em {
  font-style: italic;
}

.knotCaret {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(
    0.25turn,
    rgb(255 255 255 / 100%),
    10%,
    rgb(0 255 200 / 10%),
    60%,
    rgb(0 100 255 / 20%),
    90%,
    transparent
  );
  border-radius: 0px 9999px 9999px 0px;
  left: 0;
  top: 0;
  transition-property: left, top;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.22, 0.68, 0, 1.21);

  width: 1px;
  animation: blink 1s infinite;
  /* animation-timing-function: cubic-bezier(0, 3, 1, -2); */
  animation-timing-function: ease-in;
}

/* carot animation */
@keyframes blink {
  0% {
    opacity: 1;
    width: 1px;
  }
  80% {
    opacity: 1;
    width: 1em;
  }
  100% {
    opacity: 0;
    width: 1px;
  }
}
