@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  overflow: hidden;
  height: 100vh;
}

:root {
  --editor-padding: 4rem calc(96px + env(safe-area-inset-right, 96px)) 10rem
    calc(96px + env(safe-area-inset-left, 96px));
}
