#root {
  caret-color: transparent;
}

.knotCaret {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  display: block;
  pointer-events: none;
  border-radius: 0.5rem;
  z-index: 999;
  background-color: var(--caret-color);
}
